<%= @list.name  %>
  <ul>
    <%@list.bookmarks.each do |bookmark|  %>
      <li>
        <p><%= @movies.find(bookmark.movie_id).title %></p>
        <p><%= image_tag @movies.find(bookmark.movie_id).poster_url, width: 200 %></p>
        <p><%= bookmark.comment %></p>
        <p><%= link_to "Delete", list_bookmark_path(@list, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
      </li>
    <% end %>
  </ul>

<%= link_to "Add movie to list", new_list_bookmark_path(@list)  %>

<%= link_to "Back to all lists",  lists_path  %>
